<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Canvas Pen Tool</title>
    <style>
      canvas {
        border: 1px solid black;
        cursor: crosshair;
      }
    </style>
  </head>
  <body>
    <div>
      <canvas id="canvas" width="28" height="28"></canvas>
      <button id="clear">Clear</button>
      <button id="sendDataButton">Analyze</button>
    </div>
    <div>
      <p id="digit"></p>
      <p id="score"></p>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
